@font-face {
        font-family: 'Iosevka Term SS16 Web';
        font-display: swap;
        font-weight: 500;
        font-stretch: expanded;
        font-style: normal;
        src: url('https://parappa.party/ttf/iosevka-term-ss16-extendedmedium.ttf') format('truetype');
}

body {
    color: black;
    background-color: lavender;
    background-image: url("bg.png");
    background-repeat: repeat;
}

h1, h2 {
    color: black;
    font-family: 'iosevka', monospace;
}

h2 {
    font-weight: 400;
}

div {
    color: black;
    padding: 10px;
    margin: 10px;
}

 .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 0.5fr 12%;
        grid-template-rows: 200px repeat(4, 1fr);
        gap: 30px 15px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 4;
        background-color: #ffff99;
        height: 175px;
        width: 1100px;
    }
    .div2 {
        grid-area: 2 / 1 / 5 / 3;
        background-color: #ffff99;
    }
    .div3 {
        grid-area: 2 / 3 / 5 / 5;
        background-color: #ffff99;
    }
    .div4 {
        grid-area: 2 / 6 / 5 / 7;
        justify-self: center;
        align-self: center;
        background-color: #ffff99;
    }
    .div5 {
        grid-area: 5 / 1 / 6 / 5;
        background-color: #ffff99;
        height: 150px;
    }

p {
    font-family: 'mononokiRegular', monospace;
}
