body {
background-image: url('../images/about-bg.jpg');
background-size: cover;
color: white;
}

p {
    font-family: 'mononokiRegular', monospace;
    
}

a {
    color: lightgreen;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". . . text text"
    ". . . text text"
    ". . . text text"
    ". . . . .";
}

.text {
    grid-area: text;
    background-color: rgba(30, 113, 52, 0.50);
    padding: 15px;
    margin-bottom: 0px;
}

