body {
    background-color: pink;
    background-image: url(../images/l-c04.gif);
    background-repeat: repeat;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
    grid-row-gap: 10px;
}

.div1 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #8f3600;
    color: white;
    font-family: 'mononokiRegular', monospace;
    padding: 20px;
    border: 30px inset #592100;
    border-radius: 12px;
    
}
.div2 {
    grid-area: 4 / 1 / 5 / 2;
}

a {
    color: antiquewhite;
}

