body {
    color: black;
    background-color: goldenrod;
    background-image: url("../series/dtp_r11_c06.gif");
    background-repeat: fill;
    font-family: 'iosevka', monospace;
    font-weight: normal;
    font-style: normal;
}

  .flex-container {

    display: flex;
    
    justify-content: center;     

    height: 2fr;
    max-width: 4fr;
    flex-wrap: nowrap;
    align-content: center;
    padding: 15px;
    margin: 100px;

  }

  .flex-container {
    border: 3px solid darkgoldenrod;
    border-radius: 5px;
    padding: 8px;
  }


  .item1 { 
    /* flex:1 1 auto; */
    flex-grow:1;
    background-color: yellow;
  }
			
  .item2 { 
    /* flex:4 1 auto; */
    flex-grow:4;
    background-color: silver;
  }

@keyframes disc {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(10000deg);
    }
}

@keyframes disc2 {
    from {
        transform: rotate(-1500deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.spin {
    height: 500px;
    animation: disc2 1.5s;
}

.spin:hover {
    animation: disc 15s;
}
