body {
    color: white;
    background-color: darkred;
    background-image: url("../series/CV2sogjUkAAUxTu.png");
    background-size: 150%;
    background-attachment: fixed;
    font-family: 'BedsteadRegular', Courier, monospace;
}

.parent {
display: grid;
grid-template-columns: 1fr 0.5fr repeat(3, 1fr);
grid-template-rows: 150px repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 0px;
} 

.div1 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #da2525;
    border: groove 20px darkred;
    border-radius: 12px;
    padding: 15px;
    height: 470px;
}

.div2 {
    grid-area: 2 / 3 / 5 / 4;
    background-color: #da2525;
    border: groove 20px darkred;
    border-radius: 12px;
    padding: 15px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    padding: 15px;
    margin-top: 0px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: white;
}
