body {
    color: black;
    background-color: coral;
    background-image: "../series/dtp_r11_c96.gif";
    background-repeat: repeat;
}

.parent {
display: grid;
grid-template-columns: 1fr 0.5fr repeat(3, 1fr);
grid-template-rows: 0.3fr repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 0px;
} 

.div1 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: #da2525;
    border: groove 20px darkred;
    border-radius: 12px;
    padding: 15px;
}

.div2 {
    grid-area: 2 / 3 / 5 / 4;
    background-color: #da2525;
    border: groove 20px darkred;
    border-radius: 12px;
    padding: 15px;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    padding: 15px;
}

a {
    color: white;
}
